@{
    List<object> menuItems = new List<object>();

    menuItems.Add(new
    {
        text = "General",
        separator = true
    });
    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/",
        iconCss = "fa-solid fa-box"
    });
    menuItems.Add(new
    {
        text = "Reports",
        url = "#",
        iconCss = "fa-solid fa-chart-pie"
    });

    menuItems.Add(new
    {
        text = "BARBERSHOP",
        separator = true
    });
    menuItems.Add(new
    {
        text = "Employees",
        url = "/employees",
        iconCss = "fa-solid fa-cubes"
    });
    menuItems.Add(new
    {
        text = "Customers",
        url = "/customers",
        iconCss = "fa-solid fa-list"
    });

    menuItems.Add(new
    {
        text = "More",
        separator = true
    });
    menuItems.Add(new
    {
        text = "Settings",
        url = "/settings",
        iconCss = "fa-solid fa-gear"
    });
    menuItems.Add(new
    {
        text = "Support",
        iconCss = "fa-solid fa-headset"
    });
}

<ejs-sidebar id="sidebar" width="275px" enableDock dockSize="150px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <h4 class="mb-0"></h4>
            <div class="app-logo">
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>



<div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="SupportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">Edit Customer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="supportModalContent">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onSupportClick(id) {
        $('#supportModalContent').empty();
        $.ajax({
            url: document.querySelector('[href="#"]'),
            type: 'GET',
            success: function (data) {
                $('#supportModal').html(data);

                var editModal = new bootstrap.Modal(document.getElementById('supportModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                editModal.show();
            },
            error: function () {
                alert("Error loading support page");
            }
        });
    }

    $('#supportModal').on('hidden.bs.modal', function () {
        $(this).find('#supportModalContent').empty();
    });
</script>
