@{
    List<object> menuItems = new List<object>();

    menuItems.Add(new
    {
        text = "General",
        separator = true
    });
    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/",
        iconCss = "fa-solid fa-box"
    });

    menuItems.Add(new
    {
        text = "BARBERSHOP",
        separator = true
    });
    menuItems.Add(new
    {
        text = "Employees",
        url = "/employees",
        iconCss = "fa-solid fa-users"
    });
    menuItems.Add(new
    {
        text = "Positions",
        url = "/positions",
        iconCss = "fa-solid fa-address-card"
    });
    menuItems.Add(new
    {
        text = "Customers",
        url = "/customers",
        iconCss = "fa-solid fa-users-rectangle"
    });
    menuItems.Add(new
    {
        text = "Enrollments",
        url = "/enrollments",
        iconCss = "fa-solid fa-check-to-slot"
    });
}

<ejs-sidebar id="sidebar" width="275px" enableDock dockSize="150px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <h4 class="mb-0"></h4>
            <div class="app-logo">
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });

</script>
