@using BarbershopManagementSystem.WebUI.ViewModels
@model PositionViewModel

@{
    Layout = null;
}

<div class="m-5" style="background-color: #252a33; color: white; padding: 20px; border-radius: 5px;">
    <h4>Position Details</h4>

    <dl class="row mb-0">
        <dt class="col-sm-4 text-secondary">Id</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Id)</dd>

        <dt class="col-sm-4 text-secondary">Name</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-4 text-secondary">Description</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>

<div class="m-5">
    <a asp-action="Index" class="btn btn-outline-primary">
        <i class="fa-solid fa-arrow-left"></i> Back
    </a>
</div>
